@charset "UTF-8";
/*FUENTES DE GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*HEADER*/
header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .logo {
  width: 100px;
  height: 100px;
  margin: 10px 0 0 15px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
header ul li {
  margin: 0 25px;
}
header ul .nav-item {
  font-size: 1.3rem;
  /* font-family: "Orbitron", sans-serif; */
  font-family: "orbitron";
  font-weight: 700;
  text-decoration: none;
}
header ul .colorNavBar {
  color: #a0e602;
}
header ul .dropdown-menu {
  background-color: #333;
}
header ul .dropdown-toggle {
  color: #a0e602;
}
header ul .dropdown-item {
  font-weight: 500;
  color: white;
  font-family: "orbitron";
}
header ul .dropdown-item:hover {
  background-color: #a0e602;
}

/*INICIO*/
/*SECCION CON IMAGEN DEL FONDO INDEX*/
.fondoContainer {
  width: 100%;
  height: 100px;
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 0 0 0;
}

/*PRODUCTOS DESTACADOS DEL INDEX*/
.seccion-productos-destacados {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion-productos-destacados .titleProductosDestacados {
  text-align: center;
  font-size: 2.3rem;
  font-family: "orbitron";
  font-weight: bold;
  margin-bottom: 40px;
  color: gray;
  text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}
.seccion-productos-destacados .contenedor-productos-destacados {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cardContainer {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 150px;
  height: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardContainer img {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  margin: 0 25px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  transition: transform 1s, filter 1s;
}
.cardContainer img:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.cardContainer p {
  font-family: "orbitron";
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0 0 20px 0;
  color: gray;
  font-weight: 700;
}
.cardContainer .botonVistaProducto {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #a0e602;
  border-radius: 3px;
  transition: 1s;
}
.cardContainer .botonVistaProducto:hover {
  background-color: black;
}
.cardContainer .botonVistaProducto a {
  font-family: "poppins";
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 700;
  transition: 1s;
}
.cardContainer .botonVistaProducto a:hover {
  color: #a0e602;
}

/*INFO DE PAGOS Y ENVIOS INDEX*/
.seccionInfo {
  display: none;
}

/*CARDS NUEVOS INGRESOS*/
.seccionNuevosIngresosTitle .titleNuevosIngresos {
  text-align: center;
  font-size: 2.8rem;
  font-family: "orbitron";
  font-weight: bold;
  margin-top: 70px;
  color: gray;
  text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

.seccion-nuevos-ingresos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion-nuevos-ingresos .cards-nuevos-ingresos-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0 50px 0;
}
.seccion-nuevos-ingresos .cards-nuevos-ingresos-container .cardNuevosIngresos {
  width: 320px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.seccion-nuevos-ingresos .cards-nuevos-ingresos-container .cardNuevosIngresos img {
  width: 250px;
  height: 300px;
}
.seccion-nuevos-ingresos .cards-nuevos-ingresos-container .cardNuevosIngresos .infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion-nuevos-ingresos .cards-nuevos-ingresos-container .cardNuevosIngresos .titleCardContainer {
  font-size: 1rem;
  font-family: "orbitron";
  color: gray;
  text-align: center;
  margin: 5px 0;
}
.seccion-nuevos-ingresos .cards-nuevos-ingresos-container .cardNuevosIngresos .info {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: "orbitron";
  margin: 10px;
}
.seccion-nuevos-ingresos .cards-nuevos-ingresos-container .cardNuevosIngresos .botonLanzamiento {
  width: 110px;
  height: 40px;
  border: none;
  outline: none;
  background-color: black;
  border-radius: 3px;
}
.seccion-nuevos-ingresos .cards-nuevos-ingresos-container .cardNuevosIngresos .botonLanzamiento:hover {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1); /* Ajustar la sombra del texto */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Ajustar la sombra del botón */
  color: white;
  cursor: pointer;
}
.seccion-nuevos-ingresos .cards-nuevos-ingresos-container .cardNuevosIngresos .botonLanzamiento a {
  font-family: "poppins";
  font-weight: 700;
  text-decoration: none;
  color: #a0e602;
}

/*MARCAS DISPONIBLES*/
.marcasDisponibles {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  padding: 25px;
}
.marcasDisponibles .contenedorMarcas img {
  width: 100px;
  height: 70px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

/*--------FIN INICIO---------*/
/*PRODUCTOS Y OUTLET*/
.tituloSeccionProductos h1 {
  text-align: center;
  font-size: 1.3rem;
  font-family: "orbitron";
  font-weight: bold;
  margin: 50px 0;
  color: gray;
  text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}
.tituloSeccionProductos h2 {
  text-align: center;
  font-size: 1.3rem;
  font-family: "orbitron";
  font-weight: bold;
  margin: 50px 0;
  color: #a0e602;
  text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

.input-search-container input {
  color: black;
  font-size: 0.8rem;
  font-family: "poppins";
  font-weight: 600;
  text-align: left;
  padding: 5px;
}

.input-search-container {
  width: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-search-container input {
  width: 150px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 2px;
}
.input-search-container input:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #a0e602;
}
.input-search-container .btnBuscar {
  width: 80px;
  height: 40px;
  background-color: black;
  position: relative;
  left: 0px;
  top: 0;
  color: #a0e602;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
}
.input-search-container .btnBuscar:hover {
  background-color: #a0e602;
  color: black;
  transition: 1s;
}

.section-productos-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-productos-container .grillaProductosContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.cardProductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 2px 2px 5px;
}
.cardProductos img {
  background-color: #F5F5F5;
  width: 150px;
  height: 150px;
}
.cardProductos .infoProductoContainer .titleProducto {
  text-align: center;
  font-size: 0.6rem;
  font-family: "orbitron";
  font-weight: bold;
  color: gray;
}
.cardProductos .infoProductoContainer .infoProductos {
  text-align: center;
  font-size: 0.6rem;
  font-family: "orbitron";
  color: black;
  padding: 10px;
  font-weight: bold;
}
.cardProductos .botonLanzamiento {
  width: 110px;
  height: 40px;
  border: none;
  outline: none;
  background-color: black;
  border-radius: 3px;
}
.cardProductos .botonLanzamiento:hover {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1); /* Ajustar la sombra del texto */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Ajustar la sombra del botón */
  color: white;
  cursor: pointer;
}
.cardProductos .botonLanzamiento a {
  font-family: "poppins";
  font-weight: 700;
  text-decoration: none;
  color: #a0e602;
}

.seccion-medios-de-pago {
  width: 100%;
  height: auto;
  margin: 25px 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion-medios-de-pago .titleMediosDePago {
  text-align: center;
  font-size: 1rem;
  font-family: "orbitron";
  color: black;
  padding: 10px;
  font-weight: bold;
  text-shadow: 0rem 0.1rem 0.2rem #8a19fc;
}
.seccion-medios-de-pago .mediosDePago {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.seccion-medios-de-pago .mediosDePago img {
  width: 70px;
  height: 50px;
}

/*--------FIN PRODUCTOS---------*/
/*CUSTOM*/
.fondoContainer2 {
  width: 100%;
  height: 200px;
  background-image: url("../img/fondo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 0 0 0;
}

.titleSeccionCustom h1 {
  position: relative;
  top: 50px;
  font-family: "orbitron";
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: white;
  /* color: $purple; */
  text-shadow: 2px 2px 4px #8a19fc;
}

.section-custom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-custom .seccionContainerCustom {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-custom .seccionContainerCustom .imgContainer img {
  width: 150px;
  height: 150px;
}
.section-custom .seccionContainerCustom .infoCustom {
  display: none;
}
.section-custom .seccionContainerCustom img {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.seccionVentas {
  width: 100%;
  height: 350px;
  background-image: url(../img/fondo3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.seccionVentas .infoSeccionventas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccionVentas .infoSeccionventas .info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}
.seccionVentas .infoSeccionventas .info1 .parrafo1 {
  font-family: "orbitron";
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  color: #a0e602;
}
.seccionVentas .infoSeccionventas .info1 .parrafo2 {
  font-family: "orbitron";
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: #a0e602;
  text-shadow: 2px 2px 4px black;
}

.seccionPcArmadas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccionPcArmadas h2 {
  font-family: "orbitron";
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: #8a19fc;
  text-shadow: 2px 2px 4px #8a19fc;
  margin: 20px 0;
}
.seccionPcArmadas .imgPcs {
  margin: 0 0 10px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.seccionPcArmadas .imgPcs img {
  width: 150px;
  height: 200px;
}

/*--------FIN CUSTOM---------*/
/*CONTACTOS*/
.titleSeccionContactos {
  text-align: center;
  font-size: 1.5rem;
  font-family: "orbitron";
  font-weight: bold;
  margin: 12px 0 0 0;
  color: gray;
  text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

.subtitle-seccion-contactos {
  text-align: center;
  text-align: center;
  font-size: 1rem;
  font-family: "orbitron";
  font-weight: bold;
  margin: 10px 0 10px 0;
  color: #a0e602;
}

.seccion-formulario-contacto {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.seccion-formulario-contacto .seccion-contactos {
  background-color: #F5F5F5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.mapa-container iframe {
  width: 300px;
  height: 400px;
}

.formContainer {
  width: 95%;
  height: 600px;
  background-color: white;
  /* background-image: url(../img/gabinete.png); */
  box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin: 50px 0 80px 0;
}
.formContainer form textarea, .formContainer form input {
  color: black;
  font-size: 0.8rem;
  font-family: "poppins";
  font-weight: bold;
  text-align: left;
  padding: 5px;
}
.formContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.formContainer form h2 {
  color: #8a19fc;
  font-size: 1.3rem;
  font-family: "orbitron";
  font-weight: bold;
  text-align: center;
  text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}
.formContainer form input {
  width: 200px;
  padding: 10px;
  border: none;
  background-color: lightgray;
  border-radius: 2px;
  color: black;
  font-size: 16px;
  font-family: "poppins";
}
.formContainer form input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #a0e602;
}
.formContainer form textarea {
  width: 200px;
  height: 100px;
  padding: 10px;
  border: none;
  background-color: lightgray;
  border-radius: 2px;
  color: black;
  font-size: 16px;
  resize: none;
}
.formContainer form textarea:focus {
  outline: none !important;
  box-shadow: 0 0 10px #a0e602;
}
.formContainer .botonEnviar {
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-family: "orbitron";
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
}
.formContainer .botonEnviar:hover {
  background-color: #a0e602; /* Color de fondo al pasar el cursor */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Ajustar la sombra del texto */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Ajustar la sombra del botón */
  color: white;
  cursor: pointer;
  transition: 1s;
}

/*--------FIN CONTACTOS---------*/
/*FOOTER*/
footer {
  width: 100%;
  height: 100%;
}
footer .footerContainer {
  margin-top: 50px;
  width: 100%;
}
footer .footerContainer .contactosFooterContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 5px;
  margin: 5px 25px;
}
footer .footerContainer .contactosFooterContainer svg {
  width: 25px;
  height: 25px;
  color: white;
}
footer .footerContainer .contactosFooterContainer .svgLogo {
  width: 55px;
  height: 55px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  outline: none;
  border-radius: 50%;
  margin: 5px 25px;
}
footer .footerContainer .contactosFooterContainer #whatsapp {
  background-color: darkgreen;
  transition: 2s;
}
footer .footerContainer .contactosFooterContainer #whatsapp:hover {
  rotate: 365deg;
  box-shadow: darkgreen 0px 3px 8px;
}
footer .footerContainer .contactosFooterContainer #instagram {
  background-color: #c13584;
  transition: 1s;
}
footer .footerContainer .contactosFooterContainer #instagram:hover {
  box-shadow: #c13584 0px 3px 8px;
}
footer .footerContainer .contactosFooterContainer #facebook {
  background-color: #3b5998;
  transition: 1s;
}
footer .footerContainer .contactosFooterContainer #facebook:hover {
  box-shadow: #3b5998 0px 3px 20px;
}
footer .footerContainer .imgLogoContainerFooter {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5px 25px;
}
footer .footerContainer .imgLogoContainerFooter .logoFooter {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
footer .botonUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 45%;
}
footer .botonUpContainer .botonArriba {
  background-color: #a0e602;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 100%;
  margin: 5px;
  animation: vibrar 1s ease-in;
}
footer .botonUpContainer .botonArriba:hover {
  box-shadow: -8px 2px 41px 7px rgba(255, 255, 255, 0.75);
}
footer .botonUpContainer .botonArriba svg {
  background-color: #a0e602;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: white;
  border-radius: 30px;
  box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.35);
}
@keyframes vibrar {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-3px) rotate(-1deg);
  }
  40% {
    transform: translateX(3px) rotate(1deg);
  }
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }
  80% {
    transform: translateX(2px) rotate(1deg);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  /*RESPONSIVE INICIO*/
  .nav-item:hover {
    border-bottom: 2px solid #a0e602;
  }
  /*SECCION 1 DEL INDEX RESPONSIVE*/
  /*FIN ESTILOS SECCION 1 DEL INDEX*/
  .seccion-productos-destacados .contenedor-productos-destacados {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .seccion-productos-destacados .contenedor-productos-destacados .cardContainer {
    width: 380px;
    height: 400px;
  }
  .seccion-productos-destacados .contenedor-productos-destacados .cardContainer img {
    width: 250px;
    height: 250px;
    border-radius: 3px;
    margin: 0 25px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    transition: transform 1s, filter 1s;
  }
  .seccion-productos-destacados .contenedor-productos-destacados .cardContainer p {
    font-size: 1rem;
  }
  /*Inicio de seccion de informacion de pagos y envios del index*/
  .seccionInfo {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
  .seccionInfo .containerInfo {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 2px;
  }
  .seccionInfo .containerInfo svg {
    width: 100px;
    height: 100px;
    color: gray;
  }
  .seccionInfo .containerInfo .svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
  }
  .seccionInfo .cuotas,
  .seccionInfo .envios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 35%;
  }
  .seccionInfo .infoCuotas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seccionInfo .infoCuotas:nth-child(2) {
    font-size: 0.9rem;
    font-family: "arial";
    font-weight: 500;
  }
  .seccionInfo .envios p {
    font-size: 1rem;
    font-family: "arial";
    font-weight: 500;
  }
  .seccionInfo .cuotas p {
    font-size: 1rem;
    font-family: "arial";
    font-weight: 500;
  }
  /*Fin de seccion de informacion de pagos y envios del index*/
  /* SECCION 4 DEL INDEX RESPONSIVE*/
  .marcasDisponibles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 25px;
  }
  .marcasDisponibles .contenedorMarcas {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .marcasDisponibles .contenedorMarcas img {
    width: 180px;
    height: 70px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  }
  /* FIN SECCION 4 DEL INDEX*/
  /*ESTILADO DE PRODUCTOS RESPOPNSIVE*/
  .tituloSeccionProductos h1 {
    text-align: center;
    font-size: 2rem;
    font-family: "orbitron";
    font-weight: bold;
    margin: 50px 0;
    color: gray;
    text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
  }
  .tituloSeccionProductos h2 {
    text-align: center;
    font-size: 1.5rem;
    font-family: "orbitron";
    font-weight: bold;
    margin: 50px 0;
    color: black;
    text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
  }
  .input-search-container {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
  }
  .input-search-container .inputContainer {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .input-search-container .inputContainer input {
    width: 400px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 2px;
  }
  .input-search-container .btnBuscar {
    width: 100px;
    height: 40px;
    background-color: black;
    position: relative;
    left: -100px;
    top: 0;
    color: #a0e602;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
  }
  .input-search-container .btnBuscar:hover {
    background-color: #a0e602;
    color: black;
    transition: 1s;
  }
  .section-productos-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-productos-container .grillaProductosContainer {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }
  .section-productos-container .grillaProductosContainer .cardProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-productos-container .grillaProductosContainer .cardProductos img {
    background-color: #F5F5F5;
    width: 250px;
    height: 250px;
  }
  .section-productos-container .grillaProductosContainer .cardProductos .titleProducto {
    text-align: center;
    font-size: 1rem;
    font-family: "orbitron";
    font-weight: bold;
    color: gray;
  }
  .section-productos-container .grillaProductosContainer .cardProductos .infoProductos {
    text-align: center;
    font-size: 0.9rem;
    font-family: "orbitron";
    color: black;
    padding: 10px;
    font-weight: bold;
  }
  .seccion-medios-de-pago {
    width: 100%;
    height: auto;
    margin: 25px 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .seccion-medios-de-pago .titleMediosDePago {
    text-align: center;
    font-size: 2rem;
    font-family: "orbitron";
    color: black;
    padding: 10px;
    font-weight: bold;
    text-shadow: 0rem 0.1rem 0.2rem #8a19fc;
  }
  .seccion-medios-de-pago .mediosDePago {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .seccion-medios-de-pago .mediosDePago img {
    width: 200px;
    height: 120px;
  }
  /*FIN DE PRODUCTOS RESPOPNSIVE*/
  /*ESTILOS CUSTOM PC RESPONSIVE*/
  .fondoContainer2 {
    display: block;
    width: 100%;
    height: 500px;
    background-image: url("../img/fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0 0 0;
  }
  .titleSeccionCustom h1 {
    position: relative;
    top: 190px;
    font-family: "orbitron";
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    color: white;
    /* color: #8a19fc; */
    text-shadow: 2px 2px 4px #8a19fc;
  }
  .section-custom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-custom .seccionContainerCustom {
    width: 85%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-custom .seccionContainerCustom .imgContainer {
    width: 30%;
  }
  .section-custom .seccionContainerCustom .imgContainer img {
    width: 250px;
    height: 250px;
  }
  .section-custom .seccionContainerCustom .infoCustom {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-custom .seccionContainerCustom .infoCustom p {
    display: block;
    font-family: "orbitron";
    font-weight: 800;
    font-size: 2.1rem;
    text-align: center;
    color: #8a19fc;
    text-shadow: 2px 2px 4px #b8fe02;
  }
  .section-custom .seccionContainerCustom .infoCustom img {
    width: 250px;
    height: 150px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  }
  .section-custom .seccionContainerCustom .img2 {
    width: 30%;
  }
  .section-custom .seccionContainerCustom .img2 img {
    width: 250px;
    height: 150px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  }
  .seccionVentas {
    width: 100%;
    height: 400px;
    background-image: url(../img/fondo3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
  .seccionVentas .infoSeccionventas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .seccionVentas .infoSeccionventas .info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
  }
  .seccionVentas .infoSeccionventas .info1 .parrafo1 {
    font-family: "orbitron";
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    color: #a0e602;
  }
  .seccionVentas .infoSeccionventas .info1 .parrafo2 {
    font-family: "orbitron";
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    color: #a0e602;
    text-shadow: 2px 2px 4px black;
  }
  .seccionPcArmadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seccionPcArmadas h2 {
    font-family: "orbitron";
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #8a19fc;
    text-shadow: 2px 2px 4px #8a19fc;
    margin: 20px 0;
  }
  .seccionPcArmadas .imgPcs {
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .seccionPcArmadas .imgPcs img {
    width: 320px;
    height: 350px;
  }
  .seccionPcArmadas .btn {
    display: block;
  }
  /*FIN CUSTOM RESPONSIVE*/
  /*ESTILOS-CONTACTOS RESPONSIVE*/
  .titleSeccionContactos {
    text-align: center;
    font-size: 2.3rem;
    font-family: "orbitron";
    font-weight: bold;
    color: black;
    text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
  }
  .subtitle-seccion-contactos {
    text-align: center;
    text-align: center;
    font-size: 1.7rem;
    font-family: "orbitron";
    font-weight: bold;
    margin: 0px 0 10px 0;
    color: #a0e602;
  }
  .seccion-formulario-contacto {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .seccion-formulario-contacto .seccion-contactos {
    background-color: #F5F5F5;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .seccion-formulario-contacto .formContainer {
    width: 550px;
    height: 575px;
    /* background-image: url(../img/gabinete.png); */
    box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  }
  .seccion-formulario-contacto .formContainer form input {
    width: 350px;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: lightgray;
    color: black;
    font-size: 16px;
    font-family: "poppins";
  }
  .seccion-formulario-contacto .formContainer form textarea {
    width: 350px;
    height: 100px;
    padding: 10px;
    border: none;
    background-color: lightgray;
    color: black;
    font-size: 16px;
    resize: none;
  }
  .seccion-formulario-contacto .formContainer form .botonEnviar {
    width: 350px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-family: "orbitron";
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  .seccion-formulario-contacto .formContainer form .botonEnviar:hover {
    background-color: #a0e602; /* Color de fondo al pasar el cursor */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Ajustar la sombra del texto */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Ajustar la sombra del botón */
    color: white;
    cursor: pointer;
    transition: 1s;
  }
  .mapa-container iframe {
    width: 500px;
    height: 600px;
  }
  /*FIN ESTILOS CONTACTOS RESPONSIVE*/
  /*ESTILOS FOOTER RESPONSIVE*/
  /*BOTON PARA VOLVER AL INICIO*/
  footer .footerContainer .seccion-envios {
    display: block;
    width: 100%;
    height: 100px;
    background-image: url("../img/envios.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  footer .botonUpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 48%;
  }
}
/*--------FIN FOOTER---------*/
/*VARIABLES*/

/*# sourceMappingURL=style.css.map */
