
@import "../utilities/variables";

.titleSeccionContactos{
    text-align: center;
    font-size: 1.5rem;
    font-family: $fuente-orbitron;
    font-weight: bold;
    margin: 12px 0 0 0;
    color: gray;
    text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

.subtitle-seccion-contactos{
    text-align: center;
    text-align: center;
    font-size: 1rem;
    font-family: $fuente-orbitron;
    font-weight: bold;
    margin: 10px 0 10px 0;
    color: $color-principal;
}

.seccion-formulario-contacto{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .seccion-contactos{
        background-color: #F5F5F5;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

.mapa-container{
    iframe{
        width: 300px;
        height: 400px;
    }
}