@import "../utilities/variables";

footer{
    width: 100%;
    height: 100%;

    .footerContainer {
        margin-top: 50px;
        width: 100%;

        .contactosFooterContainer {
            display: flex;
            flex-direction: column;
            position: fixed;
            left: 0;
            bottom: 5px;
            margin: 5px 25px;

            svg {
                width: 25px;
                height: 25px;
                color: white;
            }

                .svgLogo {
                    width: 55px;
                    height: 55px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    border: none;
                    outline: none;
                    border-radius: 50%;
                    margin: 5px 25px;
                    }

            #whatsapp{
                background-color: darkgreen;
                transition: 2s;

                &:hover{ 
                    rotate: (365deg);
                    box-shadow: darkgreen 0px 3px 8px;
                 }
            }
            
            #instagram{
                background-color: #c13584;
                transition: 1s;

                &:hover{ 
                    box-shadow: #c13584 0px 3px 8px;
                 }
            }
            
            #facebook{
                background-color: #3b5998;
                transition: 1s;

                &:hover{ 
                    box-shadow: #3b5998 0px 3px 20px;
                 }
            }
        }

        .imgLogoContainerFooter {
            display: flex;
            position: fixed;
            bottom: 0;
            right: 0;
            margin: 5px 25px;

            .logoFooter {
                width: 100px;
                height: 100px;
                filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
            }
        }
    }

    
    .botonUpContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 45%;

        .botonArriba {
            width: 50px;
            height: 50px;
            padding: 10px;
            // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border: none;
            outline: none;
            border-radius: 100%;
            margin: 5px;
            transition: 1s;
    
            &:hover{
                box-shadow: -8px 2px 41px 7px rgba(255,255,255,0.75);
            }
            
    
            svg {
                width: 30px;
                height: 30px;
                font-weight: bold;
                color: white;
            }
        }
    }
    
    
}