@import "../utilities/variables";

header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .logo {
        width: 100px;
        height: 100px;
        margin: 10px 0 0 15px;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    }

    ul {
        li {
        margin: 0 25px;
    }
        .nav-item {
            font-size: 1.3rem;
            /* font-family: "Orbitron", sans-serif; */
            font-family: $fuente-orbitron;
            font-weight: 700;
            text-decoration: none;
        }
        .colorNavBar{
            color: $color-principal;
        }
        .dropdown-menu{
            background-color: #333;
        }
        .dropdown-toggle{
            color: $color-principal;
        }
        
        .dropdown-item{
            font-weight: 500;
            color: #ffff;
            font-family: $fuente-orbitron;
        }
        
        .dropdown-item:hover{
            background-color: $color-principal;
        }
}
}