@import "../utilities/variables";

.marcasDisponibles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    padding: 25px;

    .contenedorMarcas{
       img{
        width: 100px;
        height: 70px;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    }
    }
}