@import "../utilities/variables";

.seccion-productos-destacados {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .titleProductosDestacados {
        text-align: center;
        font-size: 2.3rem;
        font-family: $fuente-orbitron;
        font-weight: bold;
        margin-bottom: 40px;
        color: gray;
        text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
    }

    .contenedor-productos-destacados {
        max-width: 90%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        gap: 5px;

    }

}