
@import "../utilities/variables";

@media (min-width:768px){
    /*RESPONSIVE INICIO*/

    .nav-item {
        &:hover{
            border-bottom: 2px solid $color-principal;
        }
    }

     /*SECCION 1 DEL INDEX RESPONSIVE*/

    /*FIN ESTILOS SECCION 1 DEL INDEX*/

    .seccion-productos-destacados {
        .contenedor-productos-destacados {
            max-width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;

            .cardContainer {
                width: 380px;
                height: 400px;

                img {
                    width: 250px;
                    height: 250px;
                    border-radius: 3px;
                    margin: 0 25px;
                    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
                    transition: transform 1s, filter 1s; // Define la transición para las propiedades que cambian
              
                }

                p {
                    font-size: 1rem;
                }
            
            }
        }
    
    }
    

 /*Inicio de seccion de informacion de pagos y envios del index*/
.seccionInfo{
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

    .containerInfo{
        width: 80%;
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #F5F5F5;
        border-radius: 2px;

        svg{
            width: 100px;
            height: 100px;
            color: gray;
        }
        .svg{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            border-radius: 100%;
            background-color: white;
        }
    }
    .cuotas,
    .envios{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 35%;
}

.infoCuotas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-child(2){
        font-size: .9rem;
        font-family: $fuente-arial;
        font-weight: 500;
    }
}

.envios p{
    font-size: 1rem;
    font-family: $fuente-arial;
    font-weight: 500;
}

.cuotas p{
    font-size: 1rem;
    font-family: $fuente-arial;
    font-weight: 500;
}

}

/*Fin de seccion de informacion de pagos y envios del index*/


    /* SECCION 4 DEL INDEX RESPONSIVE*/

 .marcasDisponibles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 25px;

    .contenedorMarcas{
        max-width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img{
            width: 180px;
            height: 70px;
            filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
        }
    }

} 


/* FIN SECCION 4 DEL INDEX*/



/*ESTILADO DE PRODUCTOS RESPOPNSIVE*/

.tituloSeccionProductos {
    h1{
    text-align: center;
    font-size: 2rem;
    font-family: $fuente-orbitron;
    font-weight: bold;
    margin: 50px 0;
    color: gray;
    text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

h2{
    text-align: center;
    font-size: 1.5rem;
    font-family: $fuente-orbitron;
    font-weight: bold;
    margin: 50px 0;
    color: black;
    text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}
}

.input-search-container{
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;

    .inputContainer{
        width: 50%;
        display: flex;
        justify-content: right;
        align-items: center;

        
        input{
            width: 400px;
            height: 40px;
            border: 1px solid lightgray;
            border-radius: 2px;
        }
    }
    .btnBuscar{
        width: 100px;
        height: 40px;
        background-color: black;
        position: relative;
        left: -100px;
        top: 0;
        color: $color-principal;
        font-weight: bold;
        border: none;
        outline: none;
        border-radius: 2px;
    
        &:hover{
            background-color: $color-principal;
            color: black;
            transition: 1s;
        }
    }
    
}


.section-productos-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .grillaProductosContainer{
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
        align-items: center;

        .cardProductos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{
                background-color: #F5F5F5;
                width: 250px;
                height: 250px;
            }
            .titleProducto{
                text-align: center;
                font-size: 1rem;
                font-family: $fuente-orbitron;
                font-weight: bold;
                color: gray;
            }
            .infoProductos{
                text-align: center;
                font-size: .9rem;
                font-family: $fuente-orbitron;
                color: black;
                padding: 10px;
                font-weight: bold;
            }
        }
    }
    
}

.seccion-medios-de-pago{
    width: 100%;
    height: auto;
    margin: 25px 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .titleMediosDePago{
        text-align: center;
        font-size: 2rem;
        font-family: $fuente-orbitron;
        color: black;
        padding: 10px;
        font-weight: bold;
         text-shadow: 0rem 0.1rem 0.2rem $purple;
    }

    .mediosDePago{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        img{
            width: 200px;
            height: 120px;
        }
    }
}

/*FIN DE PRODUCTOS RESPOPNSIVE*/

/*ESTILOS CUSTOM PC RESPONSIVE*/

.fondoContainer2{
display: block;
    width: 100%;
    height: 500px;
    background-image: url('../img/fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0 0 0;
}

.titleSeccionCustom h1{
    position: relative;
    top: 190px;
    font-family: $fuente-orbitron;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    color: white;
    /* color: #8a19fc; */
    text-shadow: 2px 2px 4px #8a19fc;
}

.section-custom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .seccionContainerCustom{
        width: 85%;
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .imgContainer{
            width: 30%;

            img{
                width: 250px;
                height: 250px;
            }
        }

        .infoCustom{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            p{
                display: block;
                font-family: $fuente-orbitron;
                font-weight: 800;
                font-size: 2.1rem;
                text-align: center;
                color: #8a19fc;
                text-shadow: 2px 2px 4px #b8fe02;
            }
    
            img{
                width: 250px;
                height: 150px;
                filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
            }
        }
    
        .img2{
            width: 30%;
    
            img{
                width: 250px;
                height: 150px;
                filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
            }
        }
    }

}


.seccionVentas{
    width: 100%;
    height: 400px;
    background-image: url(../img/fondo3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

    .infoSeccionventas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .info1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 50px;

            .parrafo1{
                font-family: $fuente-orbitron;
                font-weight: bold;
                font-size: 3.5rem;
                text-align: center;
                color: $color-principal;
            }

            .parrafo2{
                font-family: $fuente-orbitron;
                font-weight: 500;
                font-size: 1.2rem;
                text-align: center;
                color: $color-principal;
                text-shadow: 2px 2px 4px black;
            }
        }
    }


}

.seccionPcArmadas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        font-family: $fuente-orbitron;
        font-weight: bold;
        font-size: 2.5rem;
        text-align: center;
        color: #8a19fc;
        text-shadow: 2px 2px 4px #8a19fc;
        margin: 20px 0;
    }

    .imgPcs{
        margin: 0 0 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img{
            width: 320px;
            height: 350px;
        }
        
    }

    .btn{
        display: block;
    }
    
}

/*FIN CUSTOM RESPONSIVE*/



/*ESTILOS-CONTACTOS RESPONSIVE*/

.titleSeccionContactos{
    text-align: center;
    font-size: 2.3rem;
    font-family: $fuente-orbitron;
    font-weight: bold;
    color: black;
    text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

.subtitle-seccion-contactos{
    text-align: center;
    text-align: center;
    font-size: 1.7rem;
    font-family: $fuente-orbitron;
    font-weight: bold;
    margin: 0px 0 10px 0;
    color: $color-principal;
}


.seccion-formulario-contacto{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .seccion-contactos{
        background-color: #F5F5F5;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 2px;
         box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        // box-shadow: 0px -4px 18px 2px rgba(0,0,0,0.35);


        
    }


    .formContainer{
        width: 550px;
        height: 575px;
        /* background-image: url(../img/gabinete.png); */
        box-shadow: 1px 1px 16px 3px rgba(0,0,0,0.35);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;

        form{

            input{
                width: 350px;
                height: 50px;
                padding: 10px;
                border: none;
                background-color: lightgray;
                color: black;
                font-size: 16px;
                font-family: $fuente-poppins;
            
            }

            textarea{
                width: 350px;
                height: 100px;
                padding: 10px;
                border: none;
                background-color: lightgray;
                color: black;
                font-size: 16px;
                resize: none;
            }

            .botonEnviar{
                width: 350px;
                height: 40px;
                background-color: black;
                color: white;
                font-size: 1rem;
                font-family: $fuente-orbitron;
                font-weight: bold;
                outline: none;
                border: none;
                border-radius: 5px;

                &:hover {
                    background-color: $color-principal; /* Color de fondo al pasar el cursor */
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Ajustar la sombra del texto */
                    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Ajustar la sombra del botón */
                    color: white;
                    cursor: pointer;
                    transition: 1s;
                }
            }
        }
    }
}

.mapa-container{
    iframe{
        width: 500px;
        height: 600px;
    }
}


/*FIN ESTILOS CONTACTOS RESPONSIVE*/


/*ESTILOS FOOTER RESPONSIVE*/


/*BOTON PARA VOLVER AL INICIO*/
footer{
    .footerContainer{
        .seccion-envios{
            display: block;
            width: 100%;
            height: 100px;
            background-image: url('../img/envios.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .botonUpContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 48%;
    }
}
}