@import "../utilities/variables";  
@import "./boton-vista";


.cardContainer {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 250px;
    height: 400px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 250px;
      height: 250px;
      border-radius: 3px;
      margin: 0 25px;
      filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
      transition: transform 1s, filter 1s; // Define la transición para las propiedades que cambian

      // Define el efecto de hover
      &:hover {
        transform: scale(1.02); // Usa transform para el escalado
        cursor: pointer;
      }
    }
      

    p {
        font-family: $fuente-orbitron;
        font-size: 1rem;
        font-weight: 600;
        padding: 0 0 20px 0;
        color: gray;
        font-weight: 700;
    }

    .botonVistaProducto {
      @include botonVistaProductos;

        &:hover{
          background-color: black;
        }

        a {
            font-family: $fuente-poppins;
            text-decoration: none;
            color: black;
            font-size: .9rem;
            font-weight: 700;
            transition: 1s;

            &:hover{
              color: $color-principal;
            }
        }
    }

}
