@import "../utilities/variables";
@import "./boton-leer_mas.scss";

.cardProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 2px;

    img{
        background-color: #F5F5F5;
        width: 130px;
        height: 130px;
    }

    .infoProductoContainer{
        .titleProducto{
            text-align: center;
            font-size: .6rem;
            font-family: $fuente-orbitron;
            font-weight: bold;
            color: gray;
        }
        .infoProductos{
            text-align: center;
            font-size: .6rem;
            font-family: $fuente-orbitron;
            color: black;
            padding: 10px;
            font-weight: bold;
        }
    
    }

    .botonLanzamiento {
        @include botonLeerMas;

        &:hover{
            text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1); /* Ajustar la sombra del texto */
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Ajustar la sombra del botón */
            color: white;
            cursor: pointer;
        }
        a {
            font-family: $fuente-poppins;
            font-weight: 700;
            text-decoration: none;
            color: $color-principal;
        }
}
}